html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #363c4a;
}

.infront {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
}

.behind {
  position: relative;
}
